
@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital@0;1&display=swap');
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/Helvetica Neue/HelveticaNeueCyr-Light.woff2')
    format('woff2');
     font-display: swap;  
    font-weight: 300;
    font-style: normal;
}

.info{
    display: block;
    margin: 0px auto;
    max-width: 715px;
    margin-top: 50px;
    
}
p{
    font-family: 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.428;
    color: #333; 
    text-align: justify;
    text-indent: 10px;
    padding: 5px;

}
h1{
    font-family: 'Montserrat';
   font-size: 13px;
   font-weight: 700; 
   line-height: 1.1;
   color: black;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px;
      box-shadow: 2px 2px 30px 5px gray,inset 1px 1px 5px 1px greenyellow;
      padding: 10px;
}
.border-solid{
  border:2px solid rgb(13, 218, 13);
  border-bottom:none;
  
}
.border-double{
    border-bottom: 3px double rgba(16, 235, 16, 0.418) ;
    border-left: 3px dashed rgb(16, 235, 16) ; ;
    border-right:  3px dashed rgb(16, 235, 16) ;;
}
.border-radius{
    margin:auto;
    border-radius: 50%;
    overflow:hidden;
    width: 150px;
    height: 150px;
    border: 2px dotted rgb(159, 219, 18);
    
}
.outline{
    outline: 4px dotted yellowgreen;
}
.shadow{
    box-shadow: inset 45px 1px 100px 10px yellowgreen;
}
.center{
    text-transform:uppercase ;
   text-align: center;
   padding-top: 30px;
   margin-top: 50px;
}
a{
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 700; 
    line-height: 1.1;
    color: rgb(7, 73, 22);
    text-transform: uppercase;
    text-align: center;
   
}
.border-shadow{
    border-radius:100% 0% 23% 77% / 78% 69% 31% 22%  ;
    box-shadow: inset 45px 1px 100px 10px yellowgreen;  
}
.opacity{
    opacity: 0.5;
}

.visibility:hover{
    visibility: hidden;
}